<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FechaActual"
         value="2017-01-01"/>
  </appSettings>
  <connectionStrings>
    <add name="gd1c2015"
        connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2015;User ID=sa;Password=gestiondedatos"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>