USE GD1C2015
GO
/*------------------------------------------*/

/*CREACION DEL ESQUEMA*/
CREATE SCHEMA NETSTLE AUTHORIZATION gd
GO
/*------------------------------------------*/

/*CREACIÓN DE TABLAS*/
CREATE TABLE NETSTLE.USUARIO(
	USR_NOMBRE VARCHAR(255) NOT NULL PRIMARY KEY,
	USR_CONTRASEÑA VARCHAR(255) NOT NULL,
	USR_PREGUNTA VARCHAR(255) NULL,
	USR_RESPUESTA VARCHAR(255) NULL,
	USR_FECHA_CREACION DATETIME NOT NULL,
	USR_FECHA_MODIFICACION DATETIME,
	USR_HABILITADO BIT NOT NULL,
	USR_ELIMINADO BIT NOT NULL,
	USR_INTENTOS_FALLIDOS INT NOT NULL
)
GO

CREATE TABLE NETSTLE.ROL(
	ROL_NOMBRE VARCHAR(30) NOT NULL PRIMARY KEY,
	ROL_HABILITADO BIT NOT NULL
)
GO

CREATE TABLE NETSTLE.ROLXUSUARIO(
	ROLUSR_NOMBRE_USUARIO VARCHAR(255) NOT NULL,
	ROLUSR_NOMBRE VARCHAR(30) NOT NULL,
	CONSTRAINT PK_ROLXUSUARIO PRIMARY KEY (ROLUSR_NOMBRE_USUARIO,ROLUSR_NOMBRE),
	CONSTRAINT FK_ROLXUSUARIO_1 FOREIGN KEY (ROLUSR_NOMBRE_USUARIO) REFERENCES NETSTLE.USUARIO (USR_NOMBRE),
	CONSTRAINT FK_ROLXUSUARIO_2 FOREIGN KEY (ROLUSR_NOMBRE) REFERENCES NETSTLE.ROL (ROL_NOMBRE)
)
GO

CREATE TABLE NETSTLE.FUNCIONALIDAD(
	FUNC_NOMBRE VARCHAR(30) NOT NULL PRIMARY KEY,
)
GO

CREATE TABLE NETSTLE.FUNCIONALIDADXROL(
	FUNCROL_NOMBRE_ROL VARCHAR(30) NOT NULL,
	FUNCROL_FUNCIONALIDAD_NOMBRE VARCHAR(30) NOT NULL,
	CONSTRAINT PK_FUNCIONALIDADXROL PRIMARY KEY (FUNCROL_NOMBRE_ROL,FUNCROL_FUNCIONALIDAD_NOMBRE),
	CONSTRAINT FK_FUNCIONALIDADXROL_1 FOREIGN KEY (FUNCROL_NOMBRE_ROL) REFERENCES NETSTLE.ROL (ROL_NOMBRE),
	CONSTRAINT FK_FUNCIONALIDADXROL_2 FOREIGN KEY (FUNCROL_FUNCIONALIDAD_NOMBRE) REFERENCES  NETSTLE.FUNCIONALIDAD (FUNC_NOMBRE)
)
GO

CREATE TABLE NETSTLE.PAIS(
	PAIS_NOMBRE VARCHAR(250) NOT NULL PRIMARY KEY,
)
GO

CREATE TABLE NETSTLE.TIPODOCUMENTO(
	TIPO_DOCUMENTO VARCHAR(255) NOT NULL PRIMARY KEY
)
GO

CREATE TABLE NETSTLE.CLIENTE(
	CLI_NRO_DOCUMENTO NUMERIC(18,0) NOT NULL,
	CLI_TIPO_DOCUMENTO VARCHAR(255) NOT NULL,
	CLI_NOMBRE_USUARIO VARCHAR(255) NOT NULL,
	CLI_NOMBRE VARCHAR(255) NOT NULL,
	CLI_APELLIDO VARCHAR(255) NOT NULL,
	CLI_PAIS VARCHAR(250) NOT NULL,
	CLI_NACIONALIDAD VARCHAR(250) NULL,
	CLI_MAIL VARCHAR(255) NOT NULL UNIQUE,
	CLI_FECHA_NACIMIENTO DATETIME NOT NULL,
	CLI_DOM_CALLE VARCHAR(255) NOT NULL,
	CLI_DOM_NRO NUMERIC(18,0) NOT NULL,
	CLI_DOM_PISO NUMERIC(18,0) NULL,
	CLI_DOM_DEPTO VARCHAR(10) NULL,
	CLI_LOCALIDAD VARCHAR(255) NULL,
	CLI_ELIMINADO BIT NOT NULL,
	CONSTRAINT PK_CLIENTE PRIMARY KEY (CLI_NRO_DOCUMENTO,CLI_TIPO_DOCUMENTO),
	CONSTRAINT FK_CLIENTE_1 FOREIGN KEY (CLI_TIPO_DOCUMENTO) REFERENCES NETSTLE.TIPODOCUMENTO (TIPO_DOCUMENTO),
	CONSTRAINT FK_CLIENTE_2 FOREIGN KEY (CLI_NOMBRE_USUARIO) REFERENCES NETSTLE.USUARIO (USR_NOMBRE),
	CONSTRAINT FK_CLIENTE_3 FOREIGN KEY (CLI_PAIS) REFERENCES NETSTLE.PAIS (PAIS_NOMBRE),
	CONSTRAINT FK_CLIENTE_4 FOREIGN KEY (CLI_NACIONALIDAD) REFERENCES NETSTLE.PAIS (PAIS_NOMBRE),
)
GO

CREATE TABLE NETSTLE.AUDITORIA(
	AUD_NUM INT IDENTITY PRIMARY KEY,
	AUD_NOMBRE_USUARIO VARCHAR(255) NOT NULL,
	AUD_FECHA_HORA DATETIME NOT NULL,
	AUD_ESTADO VARCHAR(8) NOT NULL CHECK(AUD_ESTADO IN ('EXITO','FALLO')),
	CONSTRAINT FK_AUDITORIA FOREIGN KEY (AUD_NOMBRE_USUARIO) REFERENCES NETSTLE.USUARIO (USR_NOMBRE)
)
GO

CREATE TABLE NETSTLE.TIPOCUENTA(
	TIPO_CTA VARCHAR(30) NOT NULL PRIMARY KEY CHECK(TIPO_CTA IN ('ORO','PLATA','BRONCE','GRATUITA')),
	TIPO_CTA_COSTO_APERTURA FLOAT NOT NULL,
	TIPO_CTA_COSTO_TRANSACCION FLOAT NOT NULL,
	TIPO_CTA_DURACION INT NOT NULL
)
GO

CREATE TABLE NETSTLE.TIPOMONEDA(
	TIPO_MONEDA VARCHAR(30) NOT NULL PRIMARY KEY,
	TIPO_MONEDA_COTIZACION FLOAT NOT NULL
)
GO

CREATE TABLE NETSTLE.CUENTA(
	CTA_NUMERO NUMERIC(18,0) NOT NULL PRIMARY KEY,
	CTA_TIPO VARCHAR(30) NOT NULL CHECK(CTA_TIPO IN ('ORO','PLATA','BRONCE','GRATUITA')),
	CTA_TIPO_MONEDA VARCHAR(30) NOT NULL,
	CTA_PAIS VARCHAR(250) NOT NULL,
	CTA_NRO_DOC_CLIENTE NUMERIC(18,0) NOT NULL,
	CTA_TIPO_DOC_CLIENTE VARCHAR(255) NOT NULL,
	CTA_FECHA_APERTURA DATETIME,
	CTA_DIAS_DE_SUSCRIPCION INT,
	CTA_FECHA_CIERRE DATETIME,
	CTA_ESTADO VARCHAR(255) CHECK(CTA_ESTADO IN ('PENDIENTE_DE_ACTIVACION','CERRADA','INHABILITADA','HABILITADA')),
	CTA_SALDO NUMERIC(18,2) NOT NULL
	CONSTRAINT FK_CTA_1 FOREIGN KEY (CTA_TIPO) REFERENCES NETSTLE.TIPOCUENTA (TIPO_CTA),
	CONSTRAINT FK_CTA_2 FOREIGN KEY (CTA_TIPO_MONEDA) REFERENCES NETSTLE.TIPOMONEDA (TIPO_MONEDA),
	CONSTRAINT FK_CTA_3 FOREIGN KEY (CTA_PAIS) REFERENCES NETSTLE.PAIS (PAIS_NOMBRE),
	CONSTRAINT FK_CTA_4 FOREIGN KEY (CTA_NRO_DOC_CLIENTE,CTA_TIPO_DOC_CLIENTE) REFERENCES NETSTLE.CLIENTE (CLI_NRO_DOCUMENTO,CLI_TIPO_DOCUMENTO)
)
GO

CREATE TABLE NETSTLE.INHABILITACION(
	INHAB_NUM INT IDENTITY PRIMARY KEY,
	INHAB_CTA_NUMERO NUMERIC(18,0) NOT NULL,
	INHAB_FECHA DATETIME NOT NULL,
	CONSTRAINT FK_INHABCUENTA FOREIGN KEY (INHAB_CTA_NUMERO) REFERENCES NETSTLE.CUENTA (CTA_NUMERO)
)
GO

CREATE TABLE NETSTLE.CAMBIOSCUENTA(
	REG_NUM INT IDENTITY PRIMARY KEY,
	REG_CTA_NUMERO NUMERIC(18,0) NOT NULL,
	REG_FECHA_VIEJO DATETIME NOT NULL,
	REG_FECHA_NUEVO DATETIME,
	REG_CTA_TIPO_VIEJO VARCHAR(30) NOT NULL,
	REG_CTA_TIPO_NUEVO VARCHAR(30) NOT NULL,
	CONSTRAINT FK_CAMBIOSCUENTA FOREIGN KEY (REG_CTA_NUMERO) REFERENCES NETSTLE.CUENTA (CTA_NUMERO),
	CONSTRAINT FK_CAMBIOSTIPO1 FOREIGN KEY (REG_CTA_TIPO_VIEJO) REFERENCES NETSTLE.TIPOCUENTA (TIPO_CTA),
	CONSTRAINT FK_CAMBIOSTIPO2 FOREIGN KEY (REG_CTA_TIPO_NUEVO) REFERENCES NETSTLE.TIPOCUENTA (TIPO_CTA)
)
GO

CREATE TABLE NETSTLE.EMISOR(
	EMISOR_DESC VARCHAR(255) NOT NULL PRIMARY KEY
)
GO

CREATE TABLE NETSTLE.TARJETA(
	TAR_NUMERO VARCHAR(16) NOT NULL PRIMARY KEY,
	TAR_NRO_DOC_CLI NUMERIC(18,0) NOT NULL,
	TAR_TIPO_DOC_CLI VARCHAR(255) NOT NULL,
	TAR_EMISOR VARCHAR(255) NOT NULL,
	TAR_COD_SEGURIDAD VARCHAR(255) NULL,
	TAR_COD_ULT_4_NROS VARCHAR(5) NULL,
	TAR_FECHA_EMISION DATETIME NOT NULL,
	TAR_FECHA_VENCIMIENTO DATETIME NOT NULL,
	TAR_ELIMINADA BIT NOT NULL,
	CONSTRAINT FK_NRO_DOC_CLI FOREIGN KEY (TAR_NRO_DOC_CLI,TAR_TIPO_DOC_CLI) REFERENCES NETSTLE.CLIENTE (CLI_NRO_DOCUMENTO,CLI_TIPO_DOCUMENTO),
	CONSTRAINT FK_EMISOR FOREIGN KEY (TAR_EMISOR) REFERENCES NETSTLE.EMISOR (EMISOR_DESC)
)
GO

CREATE TABLE NETSTLE.BANCO(
	BAN_CODIGO NUMERIC(18,0) NOT NULL,
	BAN_NOMBRE VARCHAR(255) NOT NULL,
	BAN_DIRECCION VARCHAR(255),
	CONSTRAINT PK_BANCO PRIMARY KEY (BAN_CODIGO, BAN_NOMBRE)
)
GO

CREATE TABLE NETSTLE.RETIRO(
	RET_CODIGO NUMERIC(18,0) IDENTITY PRIMARY KEY,
	RET_NRO_CUENTA NUMERIC(18,0) NOT NULL,
	RET_IMPORTE NUMERIC(18,2) NOT NULL,
	RET_TIPO_MONEDA VARCHAR(30) NOT NULL,
	RET_FECHA DATETIME NOT NULL,
	CONSTRAINT FK_RET_CTA FOREIGN KEY (RET_NRO_CUENTA) REFERENCES NETSTLE.CUENTA (CTA_NUMERO),
	CONSTRAINT FK_RET_MONEDA FOREIGN KEY (RET_TIPO_MONEDA) REFERENCES NETSTLE.TIPOMONEDA (TIPO_MONEDA)
)
GO

CREATE TABLE NETSTLE.CHEQUE(
	CHE_NUMERO NUMERIC(18,0) IDENTITY PRIMARY KEY,
	CHE_COD_BANCO NUMERIC(18,0) NOT NULL,
	CHE_NOMBRE_BANCO VARCHAR(255) NOT NULL,
	CHE_NOMBRE_CLIENTE VARCHAR(255) NOT NULL,
	CHE_APELLIDO_CLIENTE VARCHAR(255) NOT NULL,
	CHE_IMPORTE NUMERIC(18,2) NOT NULL,
	CHE_TIPO_MONEDA VARCHAR(30) NOT NULL,
	CHE_FECHA DATETIME NOT NULL,
	CONSTRAINT FK_CHE_BCO FOREIGN KEY (CHE_COD_BANCO,CHE_NOMBRE_BANCO) REFERENCES NETSTLE.BANCO (BAN_CODIGO,BAN_NOMBRE),
	CONSTRAINT FK_CHE_MONEDA FOREIGN KEY (CHE_TIPO_MONEDA) REFERENCES NETSTLE.TIPOMONEDA (TIPO_MONEDA)
)
GO

CREATE TABLE NETSTLE.DEPOSITO(
	DEP_CODIGO NUMERIC(18,0) IDENTITY PRIMARY KEY,
	DEP_NRO_TARJETA VARCHAR (16) NOT NULL,
	DEP_NRO_CUENTA NUMERIC(18,0) NOT NULL,
	DEP_IMPORTE NUMERIC(18,2) NOT NULL,
	DEP_TIPO_MONEDA VARCHAR(30) NOT NULL,
	DEP_FECHA DATETIME NOT NULL,
	CONSTRAINT FK_DEP_TAR FOREIGN KEY (DEP_NRO_TARJETA) REFERENCES NETSTLE.TARJETA (TAR_NUMERO),
	CONSTRAINT FK_DEP_CTA FOREIGN KEY (DEP_NRO_CUENTA) REFERENCES NETSTLE.CUENTA (CTA_NUMERO),
	CONSTRAINT FK_DEP_MONEDA FOREIGN KEY (DEP_TIPO_MONEDA) REFERENCES NETSTLE.TIPOMONEDA (TIPO_MONEDA)
)
GO

CREATE TABLE NETSTLE.TRANSFERENCIA(
	TRANSF_CODIGO NUMERIC(18,0) IDENTITY PRIMARY KEY,
	TRANSF_CTA_ORIGEN NUMERIC(18,0) NOT NULL,
	TRANSF_CTA_DESTINO NUMERIC(18,0) NOT NULL,
	TRANSF_IMPORTE NUMERIC(18,2) NOT NULL,
	TRANSF_TIPO_MONEDA VARCHAR(30) NOT NULL,
	TRANSF_FECHA DATETIME NOT NULL,
	CONSTRAINT FK_TRANSF_CTA_O FOREIGN KEY (TRANSF_CTA_ORIGEN) REFERENCES NETSTLE.CUENTA (CTA_NUMERO),
	CONSTRAINT FK_TRANSF_CTA_D FOREIGN KEY (TRANSF_CTA_DESTINO) REFERENCES NETSTLE.CUENTA (CTA_NUMERO),
	CONSTRAINT FK_TRANSF_MONEDA FOREIGN KEY (TRANSF_TIPO_MONEDA) REFERENCES NETSTLE.TIPOMONEDA (TIPO_MONEDA)
)
GO

CREATE TABLE NETSTLE.FACTURA(
	FACT_NUMERO NUMERIC(18,0) IDENTITY PRIMARY KEY,
	FACT_NRO_DOC_CLI NUMERIC(18,0) NOT NULL,
	FACT_TIPO_DOC_CLI VARCHAR(255) NOT NULL,
	FACT_FECHA DATETIME NOT NULL,
	FACT_TOTAL NUMERIC(18,2),
	CONSTRAINT FK_FACT_DOC_CLI FOREIGN KEY (FACT_NRO_DOC_CLI,FACT_TIPO_DOC_CLI) REFERENCES NETSTLE.CLIENTE (CLI_NRO_DOCUMENTO,CLI_TIPO_DOCUMENTO)
)
GO

CREATE TABLE NETSTLE.TRANSACCION(
	TRANS_CODIGO NUMERIC(18,0) IDENTITY PRIMARY KEY,
	TRANS_CTA_EMISORA NUMERIC(18,0) NOT NULL,
	TRANS_DESCRIPCION CHAR(50) NOT NULL,
	TRANS_COSTO NUMERIC(18,2) NOT NULL,
	TRANS_TIPO_MONEDA VARCHAR(30) NOT NULL,
	TRANS_PENDIENTE BIT NOT NULL,
	TRANS_FECHA DATETIME NOT NULL,
	TRANS_FECHA_FACTURADA DATETIME,
	CONSTRAINT FK_TRANS_CTA FOREIGN KEY (TRANS_CTA_EMISORA) REFERENCES NETSTLE.CUENTA (CTA_NUMERO),
	CONSTRAINT FK_TRANS_MON FOREIGN KEY (TRANS_TIPO_MONEDA) REFERENCES NETSTLE.TIPOMONEDA (TIPO_MONEDA)
)
GO

CREATE TABLE NETSTLE.ITEMFACTURA(
	ITEM_NRO NUMERIC(18,0) IDENTITY PRIMARY KEY,
	ITEM_NRO_FACTURA NUMERIC(18,0) NOT NULL,
	ITEM_DESCRIPCION VARCHAR(255) NOT NULL,
	ITEM_TIPO_MONEDA VARCHAR(30) NOT NULL,
	ITEM_IMPORTE NUMERIC(18,2) NOT NULL,
	CONSTRAINT FK_ITEM_FACT FOREIGN KEY (ITEM_NRO_FACTURA) REFERENCES NETSTLE.FACTURA (FACT_NUMERO),
	CONSTRAINT FK_ITEM_MON FOREIGN KEY (ITEM_TIPO_MONEDA) REFERENCES NETSTLE.TIPOMONEDA (TIPO_MONEDA)
)
GO

CREATE TABLE NETSTLE.MOVIMIENTOSPAIS(
	MOV_NRO INT IDENTITY PRIMARY KEY,
	MOV_PAIS VARCHAR(250) NOT NULL,
	MOV_FECHA DATETIME NOT NULL,
	CONSTRAINT FK_MOV FOREIGN KEY (MOV_PAIS) REFERENCES NETSTLE.PAIS (PAIS_NOMBRE)
)
GO
/*------------------------------------------*/

/*CREACION DE TRIGGERS*/
CREATE TRIGGER NETSTLE.INSERTA_ITEMS
ON NETSTLE.FACTURA
AFTER INSERT
AS
BEGIN

	DECLARE @NUMFACT NUMERIC(18,0),
			@NRODOC NUMERIC(18,0),
			@TIPODOC VARCHAR(255),
			@FACTFECHA DATETIME;
			
	SELECT @NUMFACT = FACT_NUMERO,@NRODOC = FACT_NRO_DOC_CLI,@TIPODOC = FACT_TIPO_DOC_CLI, @FACTFECHA = FACT_FECHA FROM INSERTED
	
	DECLARE CURSOR_TRANS CURSOR FOR 
			SELECT TRANS_CODIGO,TRANS_DESCRIPCION,TRANS_TIPO_MONEDA,TRANS_COSTO 
			FROM NETSTLE.TRANSACCION
			WHERE TRANS_CTA_EMISORA IN (SELECT CTA_NUMERO FROM NETSTLE.CUENTA WHERE CTA_NRO_DOC_CLIENTE = @NRODOC AND CTA_TIPO_DOC_CLIENTE = @TIPODOC)
			AND TRANS_PENDIENTE = 1;
			
	DECLARE @COD NUMERIC(18,0), 
			@DESC CHAR(50),
			@MON VARCHAR(30),
			@COSTO NUMERIC(18,2);
			
	DECLARE @TOTAL NUMERIC(18,2);
	SET @TOTAL = 0;
			
	OPEN CURSOR_TRANS;
	FETCH NEXT FROM CURSOR_TRANS INTO @COD,@DESC,@MON,@COSTO;
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		INSERT INTO NETSTLE.ITEMFACTURA(ITEM_NRO_FACTURA,ITEM_DESCRIPCION,ITEM_TIPO_MONEDA,ITEM_IMPORTE)
			VALUES(@NUMFACT,@DESC,@MON,@COSTO)
			
		UPDATE NETSTLE.TRANSACCION SET TRANS_PENDIENTE = 0,TRANS_FECHA_FACTURADA = @FACTFECHA
			WHERE TRANS_CODIGO = @COD
			
		SET @TOTAL = @TOTAL + @COSTO;
	
		FETCH NEXT FROM CURSOR_TRANS INTO @COD,@DESC,@MON,@COSTO;
	END	
			
	/*ACTUALIZO TOTAL FACTURA*/
	UPDATE NETSTLE.FACTURA SET FACT_TOTAL = @TOTAL WHERE FACT_NUMERO = @NUMFACT;
	
	CLOSE CURSOR_TRANS;
	DEALLOCATE CURSOR_TRANS;

END
GO

CREATE TRIGGER NETSTLE.MASDE4TRANSACCIONES
ON NETSTLE.TRANSACCION
AFTER INSERT
AS
BEGIN

	DECLARE @CUENTA NUMERIC(18,0);	
	SELECT @CUENTA = TRANS_CTA_EMISORA FROM INSERTED

	DECLARE @TRANS_PENDIENTES INT;
	SELECT @TRANS_PENDIENTES = COUNT(*) FROM NETSTLE.TRANSACCION WHERE TRANS_PENDIENTE = 1 AND TRANS_CTA_EMISORA = @CUENTA

	IF (@TRANS_PENDIENTES > 4)
	BEGIN
		UPDATE NETSTLE.CUENTA SET CTA_ESTADO = 'INHABILITADA' WHERE CTA_NUMERO = @CUENTA
	END
	
END
GO

CREATE TRIGGER NETSTLE.REGISTROCAMBIOSCUENTA
ON NETSTLE.CUENTA
AFTER UPDATE
AS
BEGIN

	DECLARE @TIPO_INSERTED VARCHAR(30),
			@ESTADO_INSERTED VARCHAR(255),
			@FECHA_INSERTED DATETIME,
			@CUENTANUMERO NUMERIC(18,0);
			
	SELECT @CUENTANUMERO = CTA_NUMERO,@TIPO_INSERTED = CTA_TIPO,@ESTADO_INSERTED = CTA_ESTADO,@FECHA_INSERTED = CTA_FECHA_APERTURA FROM INSERTED
			
	DECLARE	@TIPO_DELETED VARCHAR(30),
			@ESTADO_DELETED VARCHAR(255),
			@FECHA_DELETED DATETIME;
			
	SELECT @TIPO_DELETED = CTA_TIPO,@ESTADO_DELETED = CTA_ESTADO,@FECHA_DELETED = CTA_FECHA_APERTURA FROM DELETED
						
	/*CAMBIO EL TIPO DE CUENTA*/
	IF (@TIPO_INSERTED != @TIPO_DELETED)
	BEGIN
		INSERT INTO NETSTLE.CAMBIOSCUENTA (REG_CTA_NUMERO,REG_CTA_TIPO_VIEJO,REG_CTA_TIPO_NUEVO,REG_FECHA_VIEJO)
			VALUES(@CUENTANUMERO,@TIPO_DELETED,@TIPO_INSERTED,@FECHA_DELETED)
	END
	/*SE INHABILITO*/
	ELSE IF (@ESTADO_INSERTED = 'INHABILITADA' AND @ESTADO_DELETED != 'INHABILITADA')
	BEGIN
		INSERT INTO NETSTLE.INHABILITACION (INHAB_CTA_NUMERO,INHAB_FECHA)
				VALUES(@CUENTANUMERO,GETDATE())
	END
	/* SE FACTURO LA APERTURA DE CUENTA */
	ELSE
	BEGIN
		IF @FECHA_INSERTED IS NOT NULL AND @FECHA_DELETED IS NULL
		BEGIN
			UPDATE NETSTLE.CAMBIOSCUENTA SET REG_FECHA_NUEVO = @FECHA_INSERTED
				WHERE REG_FECHA_NUEVO IS NULL AND REG_CTA_NUMERO = @CUENTANUMERO
		END	
	END
END
GO

CREATE TRIGGER NETSTLE.REGISTRAMOVIMIENTO
ON NETSTLE.TRANSFERENCIA
AFTER INSERT
AS
BEGIN
		
	DECLARE @CTA_ORI NUMERIC(18,0),
			@CTA_DES NUMERIC(18,0),
			@FECHA DATETIME;
			
	SELECT @CTA_ORI = TRANSF_CTA_ORIGEN,@CTA_DES = TRANSF_CTA_DESTINO,@FECHA = TRANSF_FECHA FROM INSERTED
	
	DECLARE @PAIS_ORI VARCHAR(250),
			@PAIS_DES VARCHAR(250);
			
	SELECT @PAIS_ORI = C1.CTA_PAIS FROM NETSTLE.CUENTA C1 WHERE C1.CTA_NUMERO = @CTA_ORI
	SELECT @PAIS_DES = C2.CTA_PAIS FROM NETSTLE.CUENTA C2 WHERE C2.CTA_NUMERO = @CTA_DES
	
	IF (@PAIS_ORI != @PAIS_DES)
	BEGIN
			INSERT INTO NETSTLE.MOVIMIENTOSPAIS(MOV_PAIS,MOV_FECHA)
				VALUES(@PAIS_ORI,@FECHA)
				
			INSERT INTO NETSTLE.MOVIMIENTOSPAIS(MOV_PAIS,MOV_FECHA)
				VALUES(@PAIS_DES,@FECHA)
	END

END
GO
/*------------------------------------------*/

/*CREACION DE STORE PROCEDURE*/
CREATE PROCEDURE NETSTLE.INHABILITAR_CUENTAS
AS 
BEGIN

	DECLARE @CUENTANUMERO NUMERIC(18,0);
	DECLARE CURSOR_INHAB CURSOR FOR 
		SELECT TRANS_CTA_EMISORA FROM NETSTLE.TRANSACCION WHERE TRANS_PENDIENTE = 1 GROUP BY TRANS_CTA_EMISORA HAVING COUNT(*) > 4;

	OPEN CURSOR_INHAB;
	FETCH NEXT FROM CURSOR_INHAB INTO @CUENTANUMERO;
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
	
		UPDATE NETSTLE.CUENTA SET CTA_ESTADO = 'INHABILITADA' WHERE CTA_NUMERO = @CUENTANUMERO
	
		FETCH NEXT FROM CURSOR_INHAB INTO @CUENTANUMERO;
		
	END
	
	CLOSE CURSOR_INHAB;
	DEALLOCATE CURSOR_INHAB;

END
GO
/*------------------------------------------*/

/*CREACIÓN DE ROLES*/
INSERT INTO NETSTLE.ROL (ROL_NOMBRE, ROL_HABILITADO)
		VALUES ('ADMINISTRADOR', 1)
		
INSERT INTO NETSTLE.ROL (ROL_NOMBRE, ROL_HABILITADO)
		VALUES ('CLIENTE', 1)
/*------------------------------------------*/

/*CREACIÓN DE FUNCIONALIDADES*/
INSERT INTO NETSTLE.FUNCIONALIDAD (FUNC_NOMBRE)
		VALUES ('ABM_ROL')
	
INSERT INTO NETSTLE.FUNCIONALIDAD (FUNC_NOMBRE)
		VALUES ('ABM_CLIENTE')
		
INSERT INTO NETSTLE.FUNCIONALIDAD (FUNC_NOMBRE)
		VALUES ('ESTADISTICAS')
	


	
	
		
		
	
/*------------------------------------------*/

/*ASIGNACIÓN DE FUNCINALDIADES A CADA ROL*/
INSERT INTO NETSTLE.FUNCIONALIDADXROL (FUNCROL_FUNCIONALIDAD_NOMBRE,FUNCROL_NOMBRE_ROL)
		VALUES ('ABM_ROL', 'ADMINISTRADOR')

INSERT INTO NETSTLE.FUNCIONALIDADXROL (FUNCROL_FUNCIONALIDAD_NOMBRE,FUNCROL_NOMBRE_ROL)
		VALUES ('ABM_CLIENTE', 'ADMINISTRADOR')

INSERT INTO NETSTLE.FUNCIONALIDADXROL (FUNCROL_FUNCIONALIDAD_NOMBRE,FUNCROL_NOMBRE_ROL)
		VALUES ('ESTADISTICAS', 'ADMINISTRADOR')
	
		

		

		
		

		
		
/*------------------------------------------*/

/*CREACIÓN DE TIPOS DE CUENTA*/
INSERT INTO NETSTLE.TIPOCUENTA (TIPO_CTA,TIPO_CTA_COSTO_APERTURA,TIPO_CTA_COSTO_TRANSACCION,TIPO_CTA_DURACION)
	VALUES('ORO',100,0.4,10)

INSERT INTO NETSTLE.TIPOCUENTA (TIPO_CTA,TIPO_CTA_COSTO_APERTURA,TIPO_CTA_COSTO_TRANSACCION,TIPO_CTA_DURACION)
	VALUES('PLATA',10,0.3,10)

INSERT INTO NETSTLE.TIPOCUENTA (TIPO_CTA,TIPO_CTA_COSTO_APERTURA,TIPO_CTA_COSTO_TRANSACCION,TIPO_CTA_DURACION)
	VALUES('BRONCE',1,0.2,10)

/*------------------------------------------*/

/*CREACION DE TIPOS DE MONEDA*/
INSERT INTO NETSTLE.TIPOMONEDA (TIPO_MONEDA,TIPO_MONEDA_COTIZACION)
	VALUES('DOLAR',1)
/*------------------------------------------*/

/*CREACIÓN PARA CADA CLIENTE UN USUARIO QUE TIENE COMO NOMBRE DE USUARIO EL NÚMERO DE DOCUMENTO Y CONTRASEÑA 1234 ENCRIPTADA */
INSERT INTO NETSTLE.USUARIO (USR_NOMBRE,USR_CONTRASEÑA,USR_HABILITADO,USR_ELIMINADO,USR_INTENTOS_FALLIDOS,USR_FECHA_CREACION)
		SELECT DISTINCT Cli_Nro_Doc,'4F-37-C0-61-F1-85-4F-96-82-F5-43-FE-CB-5E-E9-D6-52-C8-03-23-59-70-20-2D-E9-7C-6E-40-C8-36-17-66',1,0,0,GETDATE() FROM GD1C2015.gd_esquema.Maestra
/*------------------------------------------*/

/*ASIGNACIÓN DE ROL CLIENTE A CADA USUARIO , YA QUE TODOS LOS USUARIO DE LA TABLA USUARIO SON CLIENTES */
INSERT INTO NETSTLE.ROLXUSUARIO (ROLUSR_NOMBRE,ROLUSR_NOMBRE_USUARIO)
		SELECT 'CLIENTE', USR_NOMBRE FROM NETSTLE.USUARIO
/*------------------------------------------*/

/* CREACIÓN DE USUARIOS QUE PIDE EL ENUNCIADO*/
INSERT INTO GD1C2015.NETSTLE.USUARIO (USR_NOMBRE,
		USR_CONTRASEÑA,
		USR_HABILITADO,
		USR_ELIMINADO,
		USR_INTENTOS_FALLIDOS,
		USR_FECHA_CREACION) 
		VALUES('USR1','52-D7-74-62-B2-49-87-17-5C-8D-7D-AB-90-1A-59-67-E9-27-FF-C8-D0-B6-E4-A2-34-E0-7A-4A-EC-5E-37-24',1,0,0,GETDATE())
		
INSERT INTO GD1C2015.NETSTLE.USUARIO (USR_NOMBRE,
		USR_CONTRASEÑA,
		USR_HABILITADO,
		USR_ELIMINADO,
		USR_INTENTOS_FALLIDOS,
		USR_FECHA_CREACION)
		VALUES('USR2','52-D7-74-62-B2-49-87-17-5C-8D-7D-AB-90-1A-59-67-E9-27-FF-C8-D0-B6-E4-A2-34-E0-7A-4A-EC-5E-37-24',1,0,0,GETDATE())
		
INSERT INTO GD1C2015.NETSTLE.USUARIO (USR_NOMBRE,
		USR_CONTRASEÑA,
		USR_HABILITADO,
		USR_ELIMINADO,
		USR_INTENTOS_FALLIDOS,
		USR_FECHA_CREACION)
		VALUES('USR3','52-D7-74-62-B2-49-87-17-5C-8D-7D-AB-90-1A-59-67-E9-27-FF-C8-D0-B6-E4-A2-34-E0-7A-4A-EC-5E-37-24',1,0,0,GETDATE())
		
/*------------------------------------------*/

/*ASIGNACIÓN DE ROLES A LOS USR CREADOS*/
INSERT INTO GD1C2015.NETSTLE.ROLXUSUARIO (ROLUSR_NOMBRE,ROLUSR_NOMBRE_USUARIO)
	VALUES('ADMINISTRADOR','USR1')

INSERT INTO GD1C2015.NETSTLE.ROLXUSUARIO (ROLUSR_NOMBRE,ROLUSR_NOMBRE_USUARIO)
	VALUES('CLIENTE','USR1')
	
INSERT INTO GD1C2015.NETSTLE.ROLXUSUARIO (ROLUSR_NOMBRE,ROLUSR_NOMBRE_USUARIO)
	VALUES('ADMINISTRADOR','USR2')
		
		
/*------------------------------------------*/

/*CARGA DE PAISES DEL CAMPO Cli_Pais_Desc */
INSERT INTO NETSTLE.PAIS (PAIS_NOMBRE)
		SELECT DISTINCT Cli_Pais_Desc FROM GD1C2015.gd_esquema.Maestra
		
/*CARGA DE PAISES DEL CAMPO Cuenta_Pais_Desc */
INSERT INTO NETSTLE.PAIS (PAIS_NOMBRE)
		SELECT DISTINCT Cuenta_Pais_Desc FROM GD1C2015.gd_esquema.Maestra WHERE Cuenta_Pais_Desc NOT IN (SELECT DISTINCT Cli_Pais_Desc FROM GD1C2015.gd_esquema.Maestra)

/*CARGA DE TIPOS DE DOCUMENTOS */
INSERT INTO NETSTLE.TIPODOCUMENTO
		SELECT DISTINCT Cli_Tipo_Doc_Desc FROM GD1C2015.gd_esquema.Maestra

/*CARGA DE CLIENTES*/
INSERT INTO NETSTLE.CLIENTE (CLI_NRO_DOCUMENTO,CLI_TIPO_DOCUMENTO,CLI_NOMBRE_USUARIO,CLI_NOMBRE,CLI_APELLIDO,CLI_PAIS,CLI_MAIL,CLI_FECHA_NACIMIENTO,CLI_DOM_CALLE,CLI_DOM_NRO,CLI_DOM_PISO, CLI_DOM_DEPTO,CLI_ELIMINADO)
		SELECT DISTINCT Cli_Nro_Doc,Cli_Tipo_Doc_Desc,Cli_Nro_Doc,Cli_Nombre,Cli_Apellido,Cli_Pais_Desc,Cli_Mail,Cli_Fecha_Nac,Cli_Dom_Calle,Cli_Dom_Nro,Cli_Dom_Piso,Cli_Dom_Depto,0 FROM GD1C2015.gd_esquema.Maestra

/*CARGA DE EMISORES*/
INSERT INTO NETSTLE.EMISOR 
		SELECT DISTINCT Tarjeta_Emisor_Descripcion FROM GD1C2015.gd_esquema.Maestra WHERE Tarjeta_Numero IS NOT NULL

/*CARGA DE TARJETAS */
INSERT INTO NETSTLE.TARJETA(TAR_NUMERO, TAR_NRO_DOC_CLI,TAR_TIPO_DOC_CLI,TAR_EMISOR,TAR_COD_SEGURIDAD,TAR_FECHA_EMISION,TAR_FECHA_VENCIMIENTO,TAR_ELIMINADA)
	SELECT DISTINCT Tarjeta_Numero,Cli_Nro_Doc,Cli_Tipo_Doc_Desc,Tarjeta_Emisor_Descripcion,Tarjeta_Codigo_Seg,Tarjeta_Fecha_Emision,Tarjeta_Fecha_Vencimiento,0 FROM GD1C2015.gd_esquema.Maestra WHERE Tarjeta_Numero IS NOT NULL

/*CARGA DE BANCOS*/
INSERT INTO NETSTLE.BANCO (BAN_CODIGO, BAN_NOMBRE, BAN_DIRECCION)
	SELECT DISTINCT Banco_Cogido, Banco_Nombre, Banco_Direccion FROM gd_esquema.Maestra WHERE Cheque_Numero IS NOT NULL

/*CARGA DE CUENTAS*/
INSERT INTO NETSTLE.CUENTA (CTA_NUMERO,CTA_TIPO,CTA_DIAS_DE_SUSCRIPCION,CTA_TIPO_MONEDA,CTA_PAIS,CTA_NRO_DOC_CLIENTE,CTA_TIPO_DOC_CLIENTE,CTA_FECHA_APERTURA,CTA_ESTADO,CTA_SALDO)
	SELECT DISTINCT Cuenta_Numero,'GRATUITA',10,'DOLAR',Cuenta_Pais_Desc,Cli_Nro_Doc,Cli_Tipo_Doc_Desc,GETDATE(),'HABILITADA', 
	(SELECT SUM(Deposito_Importe) - SUM(Retiro_Importe) FROM gd_esquema.Maestra M2 WHERE M1.Cli_Nro_Doc = M2.Cli_Nro_Doc) 
	FROM gd_esquema.Maestra M1

/*CARGA DE DEPOSITOS*/
SET IDENTITY_INSERT NETSTLE.DEPOSITO ON
INSERT INTO NETSTLE.DEPOSITO (DEP_CODIGO,DEP_NRO_TARJETA,DEP_NRO_CUENTA,DEP_IMPORTE,DEP_TIPO_MONEDA,DEP_FECHA)
	SELECT DISTINCT Deposito_Codigo,Tarjeta_Numero,Cuenta_Numero,Deposito_Importe,'DOLAR',Deposito_Fecha FROM GD1C2015.gd_esquema.Maestra WHERE Deposito_Codigo IS NOT NULL ORDER BY Deposito_Codigo
SET IDENTITY_INSERT NETSTLE.DEPOSITO OFF

/*CARGA DE RETIROS*/
SET IDENTITY_INSERT NETSTLE.RETIRO ON
INSERT INTO NETSTLE.RETIRO (RET_CODIGO,RET_NRO_CUENTA,RET_IMPORTE,RET_TIPO_MONEDA,RET_FECHA)
	SELECT DISTINCT Retiro_Codigo,Cuenta_Numero,Retiro_Importe,'DOLAR',Retiro_Fecha FROM GD1C2015.gd_esquema.Maestra WHERE Retiro_Codigo IS NOT NULL ORDER BY Retiro_Codigo
SET IDENTITY_INSERT NETSTLE.RETIRO OFF
	
/*CARGA DE CHEQUES*/
SET IDENTITY_INSERT NETSTLE.CHEQUE ON
INSERT INTO NETSTLE.CHEQUE (CHE_NUMERO,CHE_COD_BANCO,CHE_NOMBRE_BANCO,CHE_NOMBRE_CLIENTE,CHE_APELLIDO_CLIENTE,CHE_IMPORTE,CHE_TIPO_MONEDA,CHE_FECHA)
	SELECT DISTINCT Cheque_Numero,Banco_Cogido,Banco_Nombre,Cli_Nombre,Cli_Apellido,Cheque_Importe,'DOLAR',Cheque_Fecha FROM GD1C2015.gd_esquema.Maestra WHERE Cheque_Numero IS NOT NULL ORDER BY Cheque_Numero
SET IDENTITY_INSERT NETSTLE.CHEQUE OFF

/*CARGA DE TRANSFERENCIAS*/
INSERT INTO NETSTLE.TRANSFERENCIA (TRANSF_CTA_ORIGEN,TRANSF_CTA_DESTINO,TRANSF_IMPORTE,TRANSF_TIPO_MONEDA,TRANSF_FECHA)
	SELECT DISTINCT Cuenta_Numero,Cuenta_Dest_Numero,Trans_Importe,'DOLAR',Transf_Fecha FROM GD1C2015.gd_esquema.Maestra WHERE Transf_Fecha IS NOT NULL ORDER BY Transf_Fecha
	
/*CARGA DE TRANSACCIONES FACTURADAS*/
INSERT INTO NETSTLE.TRANSACCION (TRANS_DESCRIPCION,TRANS_CTA_EMISORA,TRANS_COSTO,TRANS_TIPO_MONEDA,TRANS_PENDIENTE,TRANS_FECHA,TRANS_FECHA_FACTURADA)
	SELECT Item_Factura_Descr,Cuenta_Numero,Item_Factura_Importe,'DOLAR',0,GETDATE(),GETDATE()
		FROM gd_esquema.Maestra 
		WHERE Transf_Fecha IS NOT NULL AND
			  Factura_Numero IS NOT NULL

/*CARGA DE TRANSACCIONES PENDIENTES*/
INSERT INTO NETSTLE.TRANSACCION (TRANS_DESCRIPCION,TRANS_CTA_EMISORA,TRANS_COSTO,TRANS_PENDIENTE,TRANS_TIPO_MONEDA,TRANS_FECHA)
	SELECT 'Comisión por transferencia.',Cuenta_Numero,Trans_Importe*0.1,1,'DOLAR',GETDATE()
		FROM gd_esquema.Maestra 
		WHERE Transf_Fecha IS NOT NULL AND
			  Factura_Numero IS NULL

/*CARGA DE FACTURAS*/
SET IDENTITY_INSERT NETSTLE.FACTURA ON
INSERT INTO NETSTLE.FACTURA (FACT_NUMERO,FACT_NRO_DOC_CLI,FACT_TIPO_DOC_CLI,FACT_FECHA, FACT_TOTAL)
	SELECT DISTINCT Factura_Numero,Cli_Nro_Doc,Cli_Tipo_Doc_Desc,Factura_Fecha,SUM(Item_Factura_Importe) FROM GD1C2015.gd_esquema.Maestra WHERE Factura_Numero IS NOT NULL GROUP BY Factura_Numero,Cli_Nro_Doc,Cli_Tipo_Doc_Desc,Factura_Fecha ORDER BY Factura_Numero
SET IDENTITY_INSERT NETSTLE.FACTURA OFF
	
	
/*CARGA DE ITEM FACTURAS*/
INSERT INTO NETSTLE.ITEMFACTURA (ITEM_NRO_FACTURA,ITEM_DESCRIPCION,ITEM_TIPO_MONEDA,ITEM_IMPORTE)
	SELECT DISTINCT Factura_Numero,Item_Factura_Descr,'DOLAR',Item_Factura_Importe FROM gd_esquema.Maestra WHERE Factura_Numero IS NOT NULL
	
/*INHABILITACION DE CUENTAS*/
EXEC NETSTLE.INHABILITAR_CUENTAS

/*CARGO DE MOVIMIENTOS*/
INSERT INTO NETSTLE.MOVIMIENTOSPAIS 
	SELECT (SELECT CTA_PAIS FROM NETSTLE.CUENTA WHERE CTA_NUMERO = TRANSF_CTA_ORIGEN),TRANSF_FECHA FROM NETSTLE.TRANSFERENCIA WHERE (SELECT CTA_PAIS FROM NETSTLE.CUENTA WHERE CTA_NUMERO = TRANSF_CTA_ORIGEN) != (SELECT CTA_PAIS FROM NETSTLE.CUENTA WHERE CTA_NUMERO = TRANSF_CTA_DESTINO)
	
INSERT INTO NETSTLE.MOVIMIENTOSPAIS 
	SELECT (SELECT CTA_PAIS FROM NETSTLE.CUENTA WHERE CTA_NUMERO = TRANSF_CTA_DESTINO),TRANSF_FECHA FROM NETSTLE.TRANSFERENCIA WHERE (SELECT CTA_PAIS FROM NETSTLE.CUENTA WHERE CTA_NUMERO = TRANSF_CTA_ORIGEN) != (SELECT CTA_PAIS FROM NETSTLE.CUENTA WHERE CTA_NUMERO = TRANSF_CTA_DESTINO)
/*------------------------------------------*/


